/* hide input boxes */
.displayInputBoxes_false {
    background-color: white;
    border: none;
    outline: none;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
    background-clip: padding-box;
    /* appearance: none; */
}

/* display input boxes */
.displayInputBoxes_true {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff83;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* appearance: none; */
    border-radius: 4px;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
    :focus{
        color: #212529;
        background-color: #ffffff79;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}


